body {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.037em;
    color: white;
    background-image: url("./images/bg.jpg");
    background-color: #16253c;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

img {
    max-width: 100%;
}

p {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0;
}

a {
    color: #F9304D;
}

a:hover {
    color: white;
}

.italic {
    font-style: italic;
}

/* HEADER CONTAINER */

.header {
    text-align: center;
}

/* LOGO */

.logo {
    min-width: 360px;
    max-width: 555px;
    position: relative;
    top: -1em;
    margin: 0 auto;
}

#logo-fade {
    min-width: 360px;
    position: absolute;
    opacity: 0;
}

/* NAVIGATION MENU BUTTONS */

.nav {
    width: auto;
    max-width: 780px;
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -3.5em;
}

.nav a {
    text-decoration: none;
}

.nav-btn {
    background-color: #F9304D;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    height: auto;
    width: auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 1% 2%;
    margin: .2em .075em;
    border-radius: 1.5px;
}

.nav-btn-a {
    font-size: 1rem;
    transform: rotate(-1.11deg);
    position: relative;
    top: -.5em;
}

.nav-btn-click {
    transform: rotate(1.11deg);
    position: relative;
    top: -.25em;
}


/* COMIC BODY CONTAINER */

.comic-body {
    max-width: 1210px;
    position: relative;
    top: -1.75rem;
    margin: 0 auto;
}

/* COMIC TITLE */

h1 {
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    letter-spacing: .05em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase; 
    letter-spacing: .075em;
    line-height: 1.25em;
}

.bolder {
    font-weight: 800;
}

/* COMIC IMAGE */

.comic-img {
    background-color: white;
    max-width: 1200px;
    position: relative;
    top: -0.75em;
    padding: 0.8% 0.8% 0.8% 0.8%;
    border-radius: .25em;
    min-width: 340px;
}

.comic-img img {
    line-height: 100%;
    vertical-align: middle;
    border-radius: .125em;
}

.comic-full {
    width: 1200px;
    margin: 0 auto;
    border-style: solid;
    border-color: white;
    border-width: 0.6em;
    border-radius: .25em;
}

/* COMIC NAV CONTAINER */

.comic-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 0.80%
}

.comic-nav a {
    color: white;
    text-decoration: none;
}

.comic-nav h3 {
    position: relative;
    top: -0.3em;
}

/* COMIC NAV BUTTONS */

.comic-nav-left-btn img {
    display: inline-block;
    float: left;
    max-width: 17px;
    padding: 0 0.5em 0 0;
}

.comic-nav-right-btn img {
    display: inline-block;
    float: right;
    max-width: 17px;
    padding: 0 0 0 0.5em;
}

h3 {
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .875em;
    letter-spacing: 0.075em;
}

.nav-text-active {
    color: #F9304D;
    font-weight: 800;
    letter-spacing: .05em;
}

.nav-arrow-active {

}

/* COMIC NAV * ROW 2 */

.comic-nav-2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
}

/* DROPDOWN MENU */

.comic-dropdown-container {
    display: block;
    margin: 0 auto;
    float: right;
}

.comic-nav-dropdown {
    height: 25px;
    margin: 0 auto;
}

.comic-nav-dropdown-title {
    background-color: white;
    width: 200px;
    padding: 0 0 0 .5em;
    float: left;
    border-style: solid;
    border-color: rgb(25, 95, 125);
    border-width: thin;
    overflow: hidden;
}

h4 {
    display: inline;
    text-transform: uppercase;
    color: #2688B4;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: 0.05em;
}

.comic-nav-dropdown-title h4 {
    position: relative;
    top: -0.125em;
}

.comic-nav-dropdown img {
    display: inline-block;
    float: right;
    max-width: 24px;
    border-style: solid;
    border-color: rgb(120, 15, 40);
    border-width: thin;
    padding: 0 0 0 0;
}

/* RANDOM BUTTON */

.comic-nav-random {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.comic-nav-random  a {
    text-decoration: none;
}

.random-btn {
    background-color: #F9304D;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    height: auto;
    max-width: 92px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1% 2%;
    margin: 0 auto;
    position: relative;
    top: 1em;
    border-radius: 1.5px;
}

.random-btn-a {
    font-size: 1rem;
    transform: rotate(-1.25deg);
    position: relative;
    top: 1.25em;
}

.random-btn-click {
    transform: rotate(1.25deg);
    position: relative;
    top: 1.6em;
}

/* FOOTER */

.footer {
    padding-top: 3em;
    text-align: center;
}

.copyright {
    font-size: .875em;
    font-weight: 300;
    color: #2688B4;
}

.copyright a {
    color: #F9304D;
}

.copyright a:hover {
    color: white;
}

.social-footer img {
    width: 2em;
    padding: 0 0.125em;
}

.social-footer a {
    text-decoration: none;
}

.abt-img {
    display: inline-block;
    float: right;
    margin: 0em 1em 1em 1em;
    border-style: solid;
    border-color: white;
    border-width: .25em;
}