body {
    font-family: 'Kanit', sans-serif;
    background-image: url("./images/bg.jpg");
    background-color: #16253c;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

img {
    max-width: 100%;
}

.header {
    text-align: center;
}

.logo {
    min-width: 360px;
    position: relative;
    top: -1em;
}

.nav {
    width: auto;
    max-width: 780px;
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -3.5em;
}

.nav-btn {
    background-color: #F9304D;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 1% 2%;
    margin: .2em .075em;
}

.comic-body {
    max-width: 1210px;
    position: relative;
    top: -1.75rem;
    margin: 0 auto;
}

h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase; 
    letter-spacing: .075em;
}

.comic-img {
    background-color: white;
    max-width: 1200px;
    position: relative;
    top: -0.75em;
    padding: 0.8% 0.8% 0.8% 0.8%;
    border-radius: .25em;
    min-width: 340px;
}

.comic-img img {
    line-height: 100%;
    vertical-align: middle;
    border-radius: .125em;
}

.bolder {
    font-weight: 800;
}