body {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.037em;
    font-size: 1em;
    font-weight: 400;
    vertical-align: text-top;
    color: white;
    background-image: url("./images/bg.jpg");
    background-color: #16253c;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

img {
    max-width: 100%;
}

p {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0;
    vertical-align: text-top;
}

a {
    color: #F9304D;
}

a:hover {
    color: white;
}

.italic {
    font-style: italic;
}

.hidden {
    display: none;
}

.date {
    opacity: 0.5;
    font-weight: 300;
}

/* HEADER CONTAINER */

.header {
    text-align: center;
}

/* UFO */

#ufo {
    transform: rotate(-22deg);
}

.ufo {
    transform:rotate(-10deg);
    height: 125%;
    position: absolute;
    top: 25%;
    left: 0%;
    z-index: 9999;
}

.ufo-ani {
    animation-name: ufo;
    animation-duration: 7000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
  }
  @keyframes ufo {
from {
    transform:rotate(-10deg);
    height: 125%;
    position: absolute;
    top: 25%;
    left: 0%;
    z-index: 9999;
    opacity: 1;
}
to {
    transform:rotate(0deg);
    height: 0%;
    position: absolute;
    top: 1.5%;
    left: 60%;
    z-index: 9999;
}
}

/* LOGO */

.logo {
    min-width: 360px;
    max-width: 555px;
    position: relative;
    top: -1em;
    margin: 0 auto;
}

#logo-fade {
    min-width: 360px;
    position: absolute;
    opacity: 0;
}

/* NAVIGATION MENU BUTTONS */

.nav {
    width: auto;
    max-width: 780px;
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -3.5em;
}

.nav a {
    text-decoration: none;
}

.nav-btn {
    background-color: #F9304D;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    height: auto;
    width: auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 1% 2%;
    margin: .2em .075em;
    border-radius: 1.5px;
}

.nav-btn-a {
    font-size: 1rem;
    transform: rotate(-1.11deg);
    position: relative;
    top: -.5em;
}

.nav-btn-click {
    transform: rotate(1.11deg);
    position: relative;
    top: -.25em;
}


/* COMIC BODY CONTAINER */

.comic-body {
    max-width: 1210px;
    position: relative;
    top: -1.75rem;
    margin: 0 auto;
}

/* COMIC TITLE */

h1 {
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    letter-spacing: .05em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase; 
    letter-spacing: .075em;
    line-height: 1.25em;
}

.bolder {
    font-weight: 800;
}

.bold {
    font-weight: 700;
    letter-spacing: 0.0375em;
}


/* COMIC IMAGE */

.comic-img {
    background-color: white;
    max-width: 1200px;
    position: relative;
    top: -0.75em;
    padding: 0.8% 0.8% 0.8% 0.8%;
    border-radius: .25em;
    min-width: 340px;
}

.comic-img img {
    line-height: 100%;
    vertical-align: middle;
    border-radius: .125em;
}

.comic-full {
    width: 1200px;
    margin: 0 auto;
    border-style: solid;
    border-color: white;
    border-width: 0.6em;
    border-radius: .25em;
}

/* COMIC NAV CONTAINER */

.comic-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 0.80%
}

.comic-nav a {
    color: white;
    text-decoration: none;
}

.comic-nav h3 {
    position: relative;
    top: -0.3em;
}

/* COMIC NAV BUTTONS */

.comic-nav-left-btn img {
    display: inline-block;
    float: left;
    max-width: 17px;
    padding: 0 0.5em 0 0;
}

.comic-nav-right-btn img {
    display: inline-block;
    float: right;
    max-width: 17px;
    padding: 0 0 0 0.5em;
}

h3 {
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .875em;
    letter-spacing: 0.075em;
}

.nav-text-active {
    color: #F9304D;
    font-weight: 800;
    letter-spacing: .05em;
}

/* COMIC NAV * ROW 2 */

.comic-nav-2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
}

/* DROPDOWN MENU */

.comic-dropdown-container {
    display: block;
    margin: 0 auto;
    float: right;
 
}

.dropdown {
    width: 250px;
    height: 25px;
    margin: 0 auto;
    padding-left: .25em;
    color: white;
    background-color: #16253c;
    border-width: thin;
    border-color: white;
}

h4 {
    display: inline;
    text-transform: uppercase;
    color: #2688B4;
    font-weight: 400;
    font-size: .7em;
    letter-spacing: 0.05em;
    position: relative;
    top: -1px;
}


/* RANDOM BUTTON */

.comic-nav-random {
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

.comic-nav-random  a {
    text-decoration: none;
}

.random-btn {
    background-color: #F9304D;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    height: auto;
    max-width: 92px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1% 2%;
    margin: 0 auto;
    position: relative;
    top: 1.5em;
    border-radius: 1.5px;
}

.random-btn-a {
    font-size: 1rem;
    transform: rotate(-1.25deg);
    position: relative;
    top: 1.25em;
}

.random-btn-click {
    transform: rotate(1.25deg);
    position: relative;
    top: 1.6em;
}

/* FOOTER */

.footer {
    padding-top: 3em;
    text-align: center;
}

.copyright {
    font-size: .875em;
    font-weight: 300;
    color: #2688B4;
}

.copyright a {
    color: #F9304D;
}

.copyright a:hover {
    color: white;
}

.social-footer img {
    width: 2em;
    padding: 0 0.125em;
}

.social-footer a {
    text-decoration: none;
}

/* ARCHIVE */

#return {
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: -1em;
    margin-bottom: -1em;
}

#return a:hover {
    color: #F9304D;
}

.date {
    display: block;
    padding-bottom: .25em;
}

.archive-list {
    max-width: 360px;
    position: relative;
    left: -1em;
}

.archive-list a {
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1em;
}

.achive-list-item {
    line-height: 0%;
    padding-bottom: 1em;
}

.return-arrow {
    display: inline-block;
    width: 16px;
    position: relative;
    top: -.85em;
}

.return-active {
    color: white;
}

.go-back-div {
    display: inline-block;
}

.blue-box {
    position: relative;
    top: -1.4em;
    background-color: #2688B4;
    color: white;
    border-radius: 5px;
    padding: 1em;
}

.blue-box a {
    color: #16253c;
}

.blue-box a:hover {
    color: white;
}

.speech-bubble {
    position: relative;
    left: 3em;
}

.white-box-abt {
    position: relative;
    background-color: white;
    color: #16253c;
    border-radius: 5px;
    padding: 2em 2em;
    margin-bottom: 2em;
    letter-spacing: 0;
    opacity: 0.85;
}

.red {
    color: #F9304D;
}